ai2-olmo-core==2.3.0
albumentations
cartopy
class-registry
einops>=0.7.0
gcsfs
hdf5plugin
matplotlib
numpy
pandas>=2.2 # Force this higher than 1.x
psutil
rasterio
shapely>=2 # temporary hack to force shapely 2.x
torch>=2.7, <2.8
torchvision
universal_pathlib>=0.2.5
wandb>=0.19.0
